/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/FP02_controlStatement/build/
/workshops/unit1/FP02_controlStatement/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocity.java/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityshort/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityshort/build/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityfloat.java/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityFloat/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityFloat/build/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityInt/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityInt/build/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityShort/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityShort/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS06Iterations/nbproject/private/
/workshops/unit1/WS02_controlStatement/build/
/workshops/unit1/WS02_controlStatement/nbproject/private/
/workshops/unit1/WS06Iterations/build/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/assignments/Unity 1/HW03Iterations/nbproject/private/
/assignments/Unity 1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/workshops/unit1/WSO7Menus/nbproject/private/
/workshops/unit1/WSO6Menus/nbproject/private/
/workshops/unit1/WSO6Menus/build/
/assignments/Unity 1/HW04Menus/nbproject/private/
/assignments/Unity 1/HW04Menus/build/
/workshops/unit1/WSO7Menus/build/
/Exams/Unity 1/ExamUnit1/nbproject/private/
/Exams/Unity 1/ExamUnit1/build/
/Exams/Unity 1/ExamQ11Solution/nbproject/private/
/Exams/Unity 1/ExamQ11Solution/build/
/workshops/Unit2/WS08ExamQ11Solution/nbproject/private/
/workshops/Unit2/HW08-FactorialNumber/nbproject/private/
/workshops/Unit2/HW08-FactorialNumber/build/
/assignments/Unity 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unity 2/HW09-EmbeddedStructures/build/
/assignments/Unity 2/HW09-EmbeddedStructures/dist/
/workshops/Unit2/WS08ExamQ11Solution/build/
/workshops/Unit2/WS10Functions/nbproject/private/
/workshops/Unit2/WS10Functions/build/
/assignments/Unity 2/HW10-Functions/nbproject/private/
/assignments/Unity 2/HW10-Functions/build/
/workshops/Unit2/Nueva Carpeta/WS11FUNCTIONS/nbproject/private/
/workshops/Unit2/Nueva Carpeta/WS11Recursion/nbproject/private/
/workshops/Unit2/Nueva Carpeta/WS11FUNCTIONS/build/
/workshops/Unit2/Nueva Carpeta/WS11Recursion/build/
/assignments/Unity 2/HW11Recursion/nbproject/private/
/assignments/Unity 2/HW11Recursion/build/
/assignments/Unity 2/HW11Recursion/dist/
/assignments/Unity 2/HW12 Functions/nbproject/private/
/assignments/Unity 2/HW12 Functions/build/
/workshops/Unit2/WS12Libraries/nbproject/private/
/workshops/Unit2/WS12Libraries/build/
/assignments/Unity 2/HW12Taxes/nbproject/private/
/assignments/Unity 2/HW12Taxes/build/
/workshops/Unit2/WS13/nbproject/private/
/workshops/Unit2/WS13-Task/nbproject/private/
/workshops/Unit2/WS13-Task/build/
/workshops/Unit2/WS14-Arrows/ProvincesSimulator/nbproject/private/
/workshops/Unit2/WS14FarmSimulator/nbproject/private/
/workshops/Unit2/WS14FarmSimulator/build/
/assignments/Unity 2/HW14 Arrays/nbproject/private/
/assignments/Unity 2/HW14 Arrays/build/
/Quizes/Unit 2/ArraysQuiz 22th February/nbproject/private/
/workshops/Unit2/WS15 Correction/nbproject/private/
/workshops/Unit2/WS15 Correction/build/
/Quizes/Unit 2/ArraysQuiz 22th February/build/
/workshops/Unit2/WS15 CorrectionExam/nbproject/private/
/workshops/Unit2/WS15 CorrectionExam/build/
/workshops/Unit2/WS16- MatrixAddition/nbproject/private/
/workshops/Unit2/WS16- MatrixAddition/build/
/assignments/Unity 2/HW15-MatrixOperation/nbproject/private/
/assignments/Unity 2/HW15-MatrixOperation/build/
/workshops/Unit2/WS17 TransposeMatrix/nbproject/private/
/workshops/Unit2/WS17 TransposeMatrix/build/
/assignments/Unity 2/HW16 MatrixFunction/nbproject/private/
/assignments/Unity 2/HW16 MatrixFunction/build/
/Exams/Unity 2/OchoaEQ11/nbproject/private/
/Exams/Unity 2/OchoaEQ11/build/
/workshops/Unit3/PILATAXIKQ11/nbproject/private/
/workshops/Unit3/PILATAXIKQ11/build/
/workshops/Unit2/WS10Functions/dist/
/workshops/Unit2/WS16- MatrixAddition/dist/
/workshops/Unit3/WS22 Modularity/nbproject/private/
/workshops/Unit3/WS22 Modularity/build/
/workshops/Unit3/WS23Libraries/TaxDeclaration/nbproject/private/
/workshops/Unit3/WS23Libraries/TaxLibrary/nbproject/private/
/workshops/Unit3/WS23Libraries/TaxLibrary/build/
/workshops/Unit3/WS23Libraries/TaxLibrary/dist/
/workshops/Unit3/WS23Libraries/TaxDeclaration/build/
/assignments/Unity 3/HW17MatrixLibraries/MatrixLibraries/nbproject/private/
/assignments/Unity 3/HW17MatrixLibraries/MatrixLibraries/build/
/assignments/Unity 3/HW17MatrixLibraries/MatrixLibrary/nbproject/private/
/assignments/Unity 3/HW17MatrixLibraries/MatrixLibrary/build/
/assignments/Unity 3/HW17MatrixLibraries/MatrixLibrary/dist/
/workshops/Unit3/WS24SortingAlgoritms/Sorting/nbproject/private/
/workshops/Unit3/WS24SortingAlgoritms/Sorting/build/
/workshops/Unit3/WS24SortingAlgoritms/SearchingMenu/nbproject/private/
/workshops/Unit3/WS24SortingAlgoritms/BasicSearchCalculate/nbproject/private/
/assignments/Unity 3/HW18Searching/BasicSearchCalculate/build/
/assignments/Unity 3/HW18Searching/BasicSearchCalculate/dist/
/assignments/Unity 3/HW18Searching/SearchingMenu/build/
/workshops/Unit3/WS25 Operations with strings/Martial Arts/nbproject/private/
/workshops/Unit3/WS25 Operations with strings/Martial Arts/build/
/assignments/Unity 3/HW19SearchingForm/Searching Form/nbproject/private/
/assignments/Unity 3/HW19SearchingForm/Searching Form/build/