/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/FP02_controlStatement/build/
/workshops/unit1/FP02_controlStatement/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocity.java/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityshort/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityshort/build/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityfloat.java/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityFloat/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityFloat/build/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityInt/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityInt/build/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityShort/nbproject/private/
/workshops/unit1/ASSAIGMENTS/HW02/MRUvelocityShort/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS06Iterations/nbproject/private/
/workshops/unit1/WS02_controlStatement/build/
/workshops/unit1/WS02_controlStatement/nbproject/private/
/workshops/unit1/WS06Iterations/build/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/assignments/Unity 1/HW03Iterations/nbproject/private/
/assignments/Unity 1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/workshops/unit1/WSO7Menus/nbproject/private/
/workshops/unit1/WSO6Menus/nbproject/private/
/workshops/unit1/WSO6Menus/build/
/assignments/Unity 1/HW04Menus/nbproject/private/
/assignments/Unity 1/HW04Menus/build/
/workshops/unit1/WSO7Menus/build/
/Exams/Unity 1/ExamUnit1/nbproject/private/
/Exams/Unity 1/ExamUnit1/build/
/Exams/Unity 1/ExamQ11Solution/nbproject/private/
/Exams/Unity 1/ExamQ11Solution/build/
/workshops/Unit2/WS08ExamQ11Solution/nbproject/private/
/workshops/Unit2/HW08-FactorialNumber/nbproject/private/
/workshops/Unit2/HW08-FactorialNumber/build/
/assignments/Unity 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unity 2/HW09-EmbeddedStructures/build/
/assignments/Unity 2/HW09-EmbeddedStructures/dist/
/workshops/Unit2/WS08ExamQ11Solution/build/
/workshops/Unit2/WS10Functions/nbproject/private/
/workshops/Unit2/WS10Functions/build/
/assignments/Unity 2/HW10-Functions/nbproject/private/
/assignments/Unity 2/HW10-Functions/build/